body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}
li {
	list-style: none;
}

.visually-hidden {
	display: none;
}

.main-header {
	background-color: #ffffff;
}

.main-header a {
	color: #000000;
	font-weight: bold;
}

.main-header a:hover {
	color: #81b3d2
}

.main-header a:active {
	color: #d6d6d6;
}

.main-header a.current {
	color: #766357;
}

.banner {
	background-image: url("../img/shape-for-background.png"), url("../img/index-background.jpg");
	background-position: top 507px center, top center;
	background-repeat: no-repeat, no-repeat;
	width: 100%;
	height: 800px;
}

.banner h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.banner h2 {
	font-size: 14px;
	line-height: 26px;
}

.main-features h3 {
	font-size: 21px;
	font-weight: bold;
}

.features-realcity-bridge {
	background-color: #81b3d2;
	color: #ffffff;
}


.accomodation,
.food,
.souvenirs {
	position: relative;
	padding-top: 50px;
}

.accomodation::before {
	content: "";
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
}

.food::before {
	content: "";
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
}

.souvenirs::before {
	content: "";
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
}

.modal-form-request h2 {
	font-size: 30px;
	line-height: 36px;
}

.modal-form-request p {
	line-height: 24px;
}

.modal-form-open {
	background-color: #766357;
	width: 568px;
	height: 86px;
	border: none;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
}

.modal-form-open:hover {
	background-color: #604e43;
}

.modal-form-open:active {
	background-color: #503e33;
	color: #857871;
}

.modal fieldset {
	background-color: #ffffff;
	font-weight: bold;
}

.modal input {
	position: relative;
	font: inherit;
	background-color: #f2f2f2;
	font-weight: bold;
	text-transform: uppercase;
}

.modal input[type="date"]:hover {
	background-color: #ebebeb;
}

.modal input[type="date"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

/*фигня какая-то*/
.modal input[type="date"]::after {
	position: absolute;
	background-image: url("../img/calendar.svg");
	background-size: 10px 10px;
	width: 10px;
	height: 10px;
	right:0;
	top:0;
}

.count {
	border: none;
	background-color: #f2f2f2;
	font-weight: bold;
	color: #a9a9a9;
}

.count:hover {
	color: #000000;
}

.count:active {
	color:#81b3d2;
}

.modal input[type="submit"] {
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
	border: none;
	width: 458px;
	height: 58px;
}

.modal input[type="submit"]:hover {
	background-color: #669ec0;
}

.modal input[type="submit"]:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.main-footer,
.main-footer a{
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	background-color: #ffffff;
}

.filter-settings {
	background-image: url("../img/filter-background_v2.jpg");
	background-size: 1200px 217px;
	background-repeat: no-repeat;
	background-color: #5b6872;
	width: 1200px;
	height: 217px;
	margin:0;
	padding:0;
}

.hotel-filter fieldset {
	width: 1200px;
	height: 217px;
	margin:0;
	padding:0;
	color: #ffffff;
	font-family: inherit;
}

.hotel-filter label {
	font-size: 16px;
	font-weight: bold;
}

.hotel-filter input[type="submit"] {
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 16x;
	width: 133px;
	height: 32px;
	font-family: inherit;
	text-transform: uppercase;
}

.hotel-filter input[type="submit"]:hover {
	background-color: #ffffff;
	color: #000000;
}

.hotel-filter {
	background-color: #ffffff;
}

.filter-results h2,
.filter-results output {
	font-size: 21px;
	font-weight: bold;
}

.filter-results p {
	font-size: 13px;
}

.filter-results a {
	color: #c7c7c7;
	text-decoration: underline dashed;
}

.filter-results a:hover {
	color: #9ac2db;
}

.filter-results a:active {
	color: #000000;
	text-decoration: none;
}


.filter-results .current {
	color: #9ac2db;
	text-decoration: none;

}

.sort-order-up {
	background-image: url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
	background-size: 10px 10px;
	width: 10px;
	height: 10px;	
}

.sort-order-down {
	background-image: url(../img/icon-down-dir.svg);
	background-repeat: no-repeat;
	background-size: 10px 10px;
	width: 10px;
	height: 10px;	
}

.sort-order-up:hover {
	background-image: url(../img/icon-up-dir-hover.svg);
}

.sort-order-down:hover {
	background-image: url(../img/icon-down-dir-hover.svg);
}

.sort-order-up:active,
.sort-order-up .current {
	background-image: url(../img/icon-up-dir-active.svg);
}

/*почему тут не срабатывает класс current???? */
.sort-order-down:active,
.sort-order-down .current {
	background-image: url(../img/icon-down-dir-active.svg);
}

a.hotel-description {
	width:110px;
	height: 27px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	background-color: #81b3d2;
	text-align: center;
}

a.hotel-description:hover {
	background-color: #669ec0;
}

a.hotel-description:active {
	background-color: #5496bd;
	color: #88b6d1;
}

a.hotel-booking {
	width:142px;
	height: 27px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	background-color: #766357;
	text-align: center;
}

a.hotel-booking:hover {
	background-color: #604e43;
}

a.hotel-booking:active {
	background-color: #503e33;
	color: #857871;
}

.hotel-rank span {
	display: block;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
	color: #c3c3c3;
}

.hotel-rank div {
	background-image: url("../img/star.svg");
	height: 17px;
}

.hotel-rank .four {
	width: 72px;
}


.hotel-rank .tree {
	width: 54px;
}


.hotel-rank .two {
	width: 36px;
}